@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;

}

.sidebar {
  background-color: #014040;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}

.sidebar .profile {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.sidebar nav ul li {
  margin: 10px 0;
  cursor: pointer;
  opacity: 0.6;
  font-weight: bold;
}

.sidebar nav ul li.active {
  color: white;
  opacity: 1;
  font-weight: bold;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #02735E;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content .content {
  display: none;
}

.main-content .content.active {
  display: block;
}

.main-content h1,
.main-content h2 {
  color: #F27405;
  font-size: 60px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons .box {
  vertical-align: middle;
}

.social-icons .box a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons .box a i {
  font-size: 30px;
  color: #fff;
  background-color: #F27405;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.social-icons .box a i:hover {
  transform: rotate(360deg);
}

.aboutCard {
  background-color: #03A678;
  border-radius: 10px;
  width: 70%;
  padding: 20px;
  margin: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.aboutCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.aboutCard h2 {
  color: #fff;
  font-size: 45px;
}

.aboutCard h3 {
  color: #014040;
  font-size: 25px;
}

.aboutCard a {
  color: inherit;
  text-decoration: none;
}

.aboutCard-content {
  display: flex;
}

.aboutCard-text {
  width: 70%;
  font-size: 18px;
}

.aboutCard-image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutCard-image img {
  max-width: 65%;
  max-height: 65%;
  border-radius: 10px;
}

.education-section {
  display: flex;
  flex-direction: column;
}

.educationCard {
  background-color: #03A678;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  color: #fff;
}

.educationCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.educationCard h3 {
  font-size: 35px;
  color: #014040;
  margin-bottom: 15px;
}

.education-list {
  list-style-type: none;
  padding: 0;
  font-size: 25px;
}

.education-list li {
  margin-top: 50px;
  margin-left: 0;
}

.institution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.date {
  color: #F27405;
  font-size: 23px;
}

.details {
  font-size: 20px;
  margin-top: 5px;
}

.details a {
  color: #F27405;
  text-decoration: none;
}

.details a:hover {
  text-decoration: underline;
}

.skills-section {
  margin: 20px 0;
}

.skills-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #014040;
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-right: 10px;
}

.skills-icons img{
  margin-top: 20px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.skills-icons span {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  margin-right: 10px;
  position: relative;
}

.skills-icons .beginner::after {
  margin-top: 20px;
  content: '(beginner)';
  color: #F27405;
  font-size: 14px;
  position: absolute;
  top: -25px;
  right: 12px;
  animation: fadeIn 1s infinite alternate;
}

.simple-icons--dart {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4.105 4.105S9.158 1.58 11.684.316a3.1 3.1 0 0 1 1.481-.315c.766.047 1.677.788 1.677.788L24 9.948v9.789h-4.263V24H9.789l-9-9C.303 14.5 0 13.795 0 13.105c0-.319.18-.818.316-1.105zm.679.679v11.787c.002.543.021 1.024.498 1.508L10.204 23h8.533v-4.263zm12.055-.678c-.899-.896-1.809-1.78-2.74-2.643c-.302-.267-.567-.468-1.07-.462c-.37.014-.87.195-.87.195L6.341 4.105z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.cib--kotlin {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='m1.734 32l15.068-15.333L32 32zM0 0h16L0 16.667zm17.865 0L0 18.667V32L32 0z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mdi--sql-query {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M18.68 12.32a4.49 4.49 0 0 0-6.36.01a4.49 4.49 0 0 0 0 6.36a4.51 4.51 0 0 0 5.57.63L21 22.39L22.39 21l-3.09-3.11c1.13-1.77.87-4.09-.62-5.57m-1.41 4.95c-.98.98-2.56.97-3.54 0c-.97-.98-.97-2.56.01-3.54c.97-.97 2.55-.97 3.53 0c.97.98.97 2.56 0 3.54M10.9 20.1a6.5 6.5 0 0 1-1.48-2.32C6.27 17.25 4 15.76 4 14v3c0 2.21 3.58 4 8 4c-.4-.26-.77-.56-1.1-.9M4 9v3c0 1.68 2.07 3.12 5 3.7v-.2c0-.93.2-1.85.58-2.69C6.34 12.3 4 10.79 4 9m8-6C7.58 3 4 4.79 4 7c0 2 3 3.68 6.85 4h.05c1.2-1.26 2.86-2 4.6-2c.91 0 1.81.19 2.64.56A3.22 3.22 0 0 0 20 7c0-2.21-3.58-4-8-4'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.devicon-plain--csharp {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23000' d='m117.5 33.5l.3-.2c-.6-1.1-1.5-2.1-2.4-2.6L67.1 2.9c-.8-.5-1.9-.7-3.1-.7s-2.3.3-3.1.7l-48 27.9c-1.7 1-2.9 3.5-2.9 5.4v55.7c0 1.1.2 2.3.9 3.4l-.2.1c.5.8 1.2 1.5 1.9 1.9l48.2 27.9c.8.5 1.9.7 3.1.7s2.3-.3 3.1-.7l48-27.9c1.7-1 2.9-3.5 2.9-5.4V36.1c.1-.8 0-1.7-.4-2.6m-53.5 70c-21.8 0-39.5-17.7-39.5-39.5S42.2 24.5 64 24.5c14.7 0 27.5 8.1 34.3 20l-13 7.5C81.1 44.5 73.1 39.5 64 39.5c-13.5 0-24.5 11-24.5 24.5s11 24.5 24.5 24.5c9.1 0 17.1-5 21.3-12.4l12.9 7.6c-6.8 11.8-19.6 19.8-34.2 19.8M115 62h-3.2l-.9 4h4.1v5h-5l-1.2 6h-4.9l1.2-6h-3.8l-1.2 6h-4.8l1.2-6H94v-5h3.5l.9-4H94v-5h5.3l1.2-6h4.9l-1.2 6h3.8l1.2-6h4.8l-1.2 6h2.2zm-12.7 4h3.8l.9-4h-3.8z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ri--java-fill {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m15.638 4.566l.056.032c-.758.4-2.924 1.69-2.924 3.332c0 .554.317 1.088.614 1.59c.262.442.509.858.509 1.238c0 .957-.933 1.7-1.46 2.042l-.1-.058c.199-.243.444-.65.444-1.084c0-.598-.307-1.076-.618-1.561c-.322-.501-.648-1.01-.648-1.67c0-2.292 3.115-3.522 4.127-3.861m-4.095 1.212c1.253-1.12 2.622-2.344 2.622-4.185c0-.833-.341-1.365-.51-1.578L13.6.046c.04.166.1.472.1.872c0 1.676-1.422 2.85-2.798 3.988C9.611 5.974 8.36 7.008 8.36 8.392c0 1.985 1.958 3.206 2.785 3.722l.063.04l.05-.03q-.067-.074-.142-.152c-.636-.677-1.602-1.704-1.602-3.275c0-1.103.974-1.974 2.03-2.919m-.452 9.908c1.764 0 2.998-.253 3.546-.408l.832.48c-.793.403-2.551.71-4.382.71c-2.153 0-4.507-.462-4.514-1.078c-.005-.34.765-.566 1.595-.712l.05.029s-.281.101-.278.333c.004.35 1.42.646 3.15.646m-3.529 2.171c0-.407.839-.6 1.223-.677l.05.03c-.066.049-.102.116-.102.173c0 .267.93.511 2.356.511c1.278 0 1.988-.157 2.41-.258l.99.573c-.045.032-1.02.645-3.402.645c-1.731 0-3.525-.432-3.525-.997m8.529-1.728c1.18-.673 2.361-1.469 2.428-2.747c.044-.839-.727-1.454-1.57-1.29l.045-.112v-.002c.212-.064.474-.116.767-.116c.943 0 1.666.565 1.758 1.356c.186 1.586-2.062 2.618-3.321 2.973zm1.975 2.988c.01 1.09-3.698 1.738-7.012 1.767c-2.861.025-7.474-.515-7.484-1.605c-.006-.753 2-1.274 3.09-1.424l.115.065s-1.625.377-1.62 1.062c.006.683 3.425 1.274 5.894 1.253c3.825-.034 6.414-.657 6.72-1.502l.054-.031c.112.082.24.217.243.415M6.43 21.337a26 26 0 0 0 4.279.325c6.208-.054 7.96-1.58 8.23-1.912l.047.028c-.064 1.208-3.347 2.212-7.396 2.247c-2.061.018-3.937-.22-5.285-.615zm2.602-9.283c-1.079.083-3.396.426-3.396 1.036c0 .462 2.124 1.113 5.452 1.113c2.994 0 4.884-.565 5.325-.78l-.643-.375c-.46.125-2.169.506-4.682.506c-1.48 0-4.03-.273-4.03-.69c0-.374 1.591-.662 2.048-.745l.029-.005z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.akar-icons--python-fill {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cg fill='%23000' clip-path='url(%23akarIconsPythonFill0)'%3E%3Cpath d='M11.914 0C5.82 0 6.2 2.656 6.2 2.656l.007 2.752h5.814v.826H3.9S0 5.789 0 11.969c0 6.18 3.403 5.96 3.403 5.96h2.03v-2.867s-.109-3.42 3.35-3.42h5.766s3.24.052 3.24-3.148V3.202S18.28 0 11.913 0M8.708 1.85c.578 0 1.046.47 1.046 1.052c0 .581-.468 1.051-1.046 1.051c-.579 0-1.046-.47-1.046-1.051c0-.582.467-1.052 1.046-1.052'/%3E%3Cpath d='M12.087 24c6.092 0 5.712-2.656 5.712-2.656l-.007-2.752h-5.814v-.826h8.123s3.9.445 3.9-5.735c0-6.18-3.404-5.96-3.404-5.96h-2.03v2.867s.109 3.42-3.35 3.42H9.452s-3.24-.052-3.24 3.148v5.292S5.72 24 12.087 24m3.206-1.85c-.579 0-1.046-.47-1.046-1.052c0-.581.467-1.051 1.046-1.051c.578 0 1.046.47 1.046 1.051c0 .582-.468 1.052-1.046 1.052'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='akarIconsPythonFill0'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.simple-icons--visualstudiocode {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M23.15 2.587L18.21.21a1.49 1.49 0 0 0-1.705.29l-9.46 8.63l-4.12-3.128a1 1 0 0 0-1.276.057L.327 7.261A1 1 0 0 0 .326 8.74L3.899 12L.326 15.26a1 1 0 0 0 .001 1.479L1.65 17.94a1 1 0 0 0 1.276.057l4.12-3.128l9.46 8.63a1.49 1.49 0 0 0 1.704.29l4.942-2.377A1.5 1.5 0 0 0 24 20.06V3.939a1.5 1.5 0 0 0-.85-1.352m-5.146 14.861L10.826 12l7.178-5.448z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.material-symbols--flutter {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5.9 15.375L2.5 12l11-11h6.775zM13.5 23l-5.925-5.925L13.5 11.15h6.775l-5.925 5.925L20.275 23z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.uiw--android {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M12.735 1.828L13.6.254a.172.172 0 0 0-.3-.164l-.874 1.59a5.987 5.987 0 0 0-2.428-.508c-.869 0-1.69.181-2.424.506L6.698.09a.171.171 0 0 0-.232-.069a.169.169 0 0 0-.069.232l.866 1.572c-1.7.874-2.85 2.537-2.849 4.447l11.166-.001c0-1.91-1.146-3.57-2.845-4.444m-5.278 2.43a.467.467 0 1 1 .001-.934a.467.467 0 0 1 0 .935M15.542 6.7l.002 8.012c0 .481-.262.897-.648 1.127a1.31 1.31 0 0 1-.675.19l-.904.001v2.734a1.237 1.237 0 0 1-1.489 1.21a1.238 1.238 0 0 1-.99-1.209V16.03H9.163v2.735A1.237 1.237 0 0 1 7.925 20a1.239 1.239 0 0 1-1.238-1.235V16.03h-.901c-.521 0-.967-.3-1.182-.736a1.298 1.298 0 0 1-.141-.581l-.002-8.01zM2.74 6.47c.684 0 1.24.553 1.24 1.234v5.17a1.238 1.238 0 0 1-1.922 1.03a1.231 1.231 0 0 1-.557-1.03L1.5 7.703c0-.68.555-1.234 1.24-1.234m14.52-.001c.684 0 1.24.552 1.24 1.234v5.169c0 .683-.555 1.235-1.239 1.235c-.685 0-1.24-.552-1.24-1.235V7.702c0-.682.554-1.235 1.238-1.234M12.54 3.325a.467.467 0 1 1 0 .933a.467.467 0 1 1 0-.933'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ri--firebase-fill {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.757 1.501L4 18.5L9.473 4.816L7.695 1.353a.5.5 0 0 0-.938.148m4.807 2.817L4 18.5l9.84-11.55l-1.399-2.623a.5.5 0 0 0-.877-.01m-.624 18.52L4 18.5L17.31 5.665a.5.5 0 0 1 .832.296L20 18.5l-6.94 4.337a2 2 0 0 1-2.12 0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.simple-icons--microsoftsqlserver {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4.724 2.505s-.08.127-.004.315c.046.116.186.256.34.404c0 0 1.615 1.576 1.813 1.804c.895 1.033 1.284 2.05 1.32 3.453c.022.9-.151 1.692-.573 2.613c-.756 1.649-2.35 3.468-4.81 5.49l.36-.12c.233-.173.548-.359 1.292-.766c1.713-.936 3.636-1.798 5.999-2.686c3.399-1.277 8.99-2.776 12.172-3.263l.331-.051l-.05-.08c-.292-.452-.49-.731-.73-1.027c-.697-.863-1.542-1.567-2.577-2.146c-1.422-.797-3.267-1.416-5.6-1.88a68 68 0 0 0-2.191-.375a209 209 0 0 1-3.924-.64c-.425-.075-1.06-.181-1.481-.272a9 9 0 0 1-.961-.258c-.268-.105-.645-.207-.726-.515m.936.909c.003-.002.063.017.137.042c.136.046.316.1.526.159q.22.061.479.127c.218.056.399.104.401.107c.024.027.391 1.198.516 1.647c.048.172.084.315.081.318a1 1 0 0 1-.09-.14c-.424-.746-1.097-1.505-1.874-2.116a3 3 0 0 1-.176-.144m1.79.494a1.3 1.3 0 0 1 .195.034c.619.136 1.725.35 2.435.47c.119.02.216.04.216.047a.4.4 0 0 1-.098.062c-.119.06-.602.349-.763.457a7 7 0 0 0-1.03.821a5 5 0 0 1-.197.192a1 1 0 0 1-.041-.137a12 12 0 0 0-.65-1.779a2 2 0 0 1-.071-.165q-.001-.002.004-.002m3.147.598c.02.007.06.13.129.404a6 6 0 0 1 .153 1.977l-.012.038l-.187-.06a47 47 0 0 0-1.562-.46a7 7 0 0 1-.56-.17c0-.022.449-.471.642-.642c.369-.326 1.362-1.098 1.397-1.087m.25.036c.011-.01 1.504.248 2.182.378c.506.097 1.237.25 1.281.269c.022.008-.054.05-.297.16c-.96.432-1.672.82-2.38 1.293c-.186.124-.341.226-.344.226c-.004 0-.006-.104-.006-.23c0-.69-.139-1.387-.391-1.976a1 1 0 0 1-.045-.12m3.86.764c.011.011-.038.306-.08.48c-.132.54-.482 1.344-.914 2.099a2 2 0 0 1-.152.246a1.5 1.5 0 0 1-.219-.115c-.422-.247-.9-.48-1.425-.697a5 5 0 0 1-.278-.12c-.024-.022 1.143-.795 1.762-1.166c.495-.297 1.292-.741 1.306-.727m.276.043c.033 0 .695.18 1.037.283c.853.255 1.837.614 2.475.904l.265.12l-.187.043c-1.561.36-2.9.773-4.188 1.296c-.107.044-.2.08-.207.08a1 1 0 0 1 .075-.185c.388-.823.638-1.687.703-2.42c.006-.067.018-.121.027-.121m-6.58 1.512c.01-.01.514.108.789.185c.413.116 1.292.41 1.292.433c0 .004-.097.089-.215.188A27 27 0 0 0 8.786 9.01a5 5 0 0 1-.308.285c-.007 0-.01-.023-.006-.05c.083-.611.065-1.395-.05-2.193a1.3 1.3 0 0 1-.02-.19zm10.61.01c.007.008-.234.385-.384.6c-.22.314-.537.726-1.261 1.637l-.954 1.202a9 9 0 0 1-.269.333c-.003 0-.05-.066-.103-.146a7.6 7.6 0 0 0-1.47-1.625a10 10 0 0 0-.27-.218a.4.4 0 0 1-.074-.063c0-.01.617-.274 1.088-.466a37 37 0 0 1 2.778-.99c.442-.135.912-.27.919-.264m.278.073a1 1 0 0 1 .207.1a12.3 12.3 0 0 1 2.428 1.824c.194.19.667.683.66.687l-.363.029c-1.53.115-3.486.44-5.37.893c-.128.03-.238.056-.246.056c-.007 0 .133-.14.311-.312c1.107-1.063 1.611-1.734 2.205-2.934c.088-.178.163-.333.166-.342zm-8.088.83c.051.01.523.23.879.408c.325.163.818.426.843.449c.003.003-.17.093-.386.201a25 25 0 0 0-1.878 1.037c-.175.107-.32.194-.325.194c-.015 0-.01-.013.088-.191a7.7 7.7 0 0 0 .738-2.002c.014-.062.03-.1.041-.097zm-.475.084c.01.01-.112.46-.19.7a9 9 0 0 1-.835 1.808l-.09.147l-.203-.197a2.7 2.7 0 0 0-.676-.5a1 1 0 0 1-.176-.102c0-.03.62-.593 1.098-.998c.343-.29 1.064-.867 1.072-.858m2.888 1.188l.177.115c.407.264.888.619 1.255.924c.206.172.605.53.687.616l.044.047l-.294.082a54 54 0 0 0-4.45 1.424a6 6 0 0 1-.32.112c-.021 0-.042.019.333-.326c.96-.883 1.807-1.856 2.44-2.802zm-.759.19c.009.009-.492.71-.789 1.106c-.356.473-.99 1.265-1.426 1.78a9 9 0 0 1-.346.397c-.01.003-.015-.05-.016-.133c0-.44-.112-.91-.308-1.308c-.083-.168-.097-.208-.08-.224c.068-.062 1.127-.666 1.794-1.023c.459-.246 1.163-.604 1.171-.595m-4.59 1.125a4 4 0 0 1 .812.518c.008.005-.087.083-.21.172c-.345.249-.87.644-1.173.886c-.32.255-.331.263-.295.207c.24-.367.36-.574.486-.84c.113-.236.224-.516.304-.76a.7.7 0 0 1 .077-.183zm1.223.96c.017-.003.04.028.139.175c.207.31.366.722.407 1.058l.008.073l-.497.192a47 47 0 0 0-2.266.94c-.155.072-.428.202-.607.292s-.325.16-.325.156s.112-.089.25-.188c1.087-.79 2.025-1.654 2.732-2.519c.075-.092.144-.172.153-.178l.006-.002zm-.564.14c.015.014-.401.484-.681.77a12 12 0 0 1-2.256 1.821c-.108.069-.206.13-.22.138c-.023.014.008-.022.386-.434c.238-.259.42-.474.628-.743a1.2 1.2 0 0 1 .362-.346c.537-.388 1.767-1.221 1.781-1.207zM9.925 0c-.08-.01-1.371.455-2.2.791c-1.123.457-1.996.894-2.534 1.272c-.2.14-.452.393-.488.49a.4.4 0 0 0-.021.123l.488.46l1.158.37L9.087 4l3.153.542l.032-.27l-.028-.005l-.415-.066l-.085-.148a28 28 0 0 1-1.177-2.325a12 12 0 0 1-.53-1.465C9.969.02 9.962.005 9.925 0m-.061.186h.005c.003.003.017.105.032.225c.062.508.176 1 .354 1.53c.134.4.136.377-.024.332c-.37-.103-2.032-.388-3.234-.555a9 9 0 0 1-.357-.053c-.015-.015.867-.477 1.258-.66c.501-.232 1.867-.8 1.966-.819M6.362 1.814l.141.048c.772.262 2.706.632 3.775.72c.12.01.222.021.225.024s-.1.058-.228.122c-.515.258-1.083.573-1.476.819c-.115.072-.22.13-.235.129l-.17-.027l-.144-.023l-.365-.355c-.641-.62-1.141-1.1-1.335-1.28zm-.143.114l.511.638c.282.35.564.699.626.774s.111.138.108.14c-.014.011-.74-.13-1.125-.219a9 9 0 0 1-.803-.212l-.2-.064l.001-.049c.003-.245.312-.607.836-.976zm4.352.869c.015.001.032.032.077.131c.124.272.51 1.008.603 1.15c.03.047.08.05-.433-.033c-1.23-.198-1.629-.265-1.629-.273a.4.4 0 0 1 .083-.054a7 7 0 0 0 1.107-.767l.175-.147q.01-.008.017-.007m4.309 8.408l-4.808 1.568l-4.18 1.846l-1.17.31a32 32 0 0 1-1.928 1.682a7.5 7.5 0 0 0-.953.945c-.332.414-.592.854-.704 1.193c-.2.61-.103 1.228.285 1.798c.495.728 1.48 1.468 2.625 1.972c.585.256 1.57.588 2.31.774c1.233.312 3.614.65 4.926.7c.266.01.62.01.637-.002c.028-.019.233-.405.47-.89c.806-1.646 1.389-3.19 1.703-4.508c.19-.799.338-1.863.434-3.125a26 26 0 0 0 .016-1.934a14 14 0 0 0-.183-1.706a.4.4 0 0 1-.012-.15c.014-.01.059-.025.65-.197zm-1.1.645c.045 0 .16 1.114.191 1.82c.006.151.005.247-.004.247c-.028 0-.615-.345-1.032-.606a29 29 0 0 1-1.162-.772c-.035-.028-.031-.029.266-.131c.505-.174 1.704-.558 1.742-.558zm-2.448.803c.03 0 .115.047.315.172c.75.47 1.766 1.035 2.2 1.225c.136.06.151.036-.16.247c-.662.45-1.486.892-2.497 1.342a8 8 0 0 1-.331.142a1 1 0 0 1 .043-.2c.245-.905.383-1.82.387-2.554c.002-.362.002-.364.037-.373zm-.504.193c.021.022.006.834-.02 1.056a9.2 9.2 0 0 1-.418 1.837c-.014.017-.511-.468-.676-.66a5 5 0 0 1-.669-.973c-.082-.162-.214-.484-.202-.493c.056-.04 1.971-.78 1.985-.767m-2.375.936q.006 0 .01.004a1 1 0 0 1 .056.131a5 5 0 0 0 .602 1.08a6.3 6.3 0 0 0 1.017 1.06c.023.02.03.016-.562.24a49 49 0 0 1-2.294.8c-.327.106-.604.195-.615.2c-.033.011-.023-.009.073-.158c.427-.666 1.073-1.97 1.435-2.892c.062-.16.122-.32.133-.356c.015-.052.031-.07.08-.092a.2.2 0 0 1 .065-.017m-.728.3c.01.009-.174.398-.356.751a29 29 0 0 1-1.253 2.185l-.182.288c-.018.027-.026.018-.082-.094a3.3 3.3 0 0 1-.28-.842a3.4 3.4 0 0 1 .02-1.083c.047-.227.045-.222.152-.276c.462-.237 1.966-.942 1.981-.929m6.268.255v.154a20 20 0 0 1-.255 2.992a9.4 9.4 0 0 1-1.898-.782c-.354-.194-.865-.507-.85-.522c.003-.004.154-.083.334-.177c.714-.37 1.395-.77 1.988-1.166c.222-.148.555-.389.629-.454zM4.981 15.41c.015 0 .011.028-.012.161a4 4 0 0 0-.041.39c-.03.532.057.924.32 1.46c.074.15.132.274.129.276c-.027.023-2.43.726-3.186.933l-.435.12c-.027.008-.029.002-.02-.06c.083-.533.49-1.232 1.058-1.82c.378-.39.68-.622 1.195-.915a31 31 0 0 1 .992-.545m5.669 1.015c.002-.002.091.045.197.107c.777.449 1.86.87 2.783 1.081l.084.02l-.115.063c-.482.268-2.071.929-3.694 1.537l-.513.194a.3.3 0 0 1-.082.027c0-.004.067-.132.149-.286c.456-.852.91-1.887 1.144-2.605c.023-.073.044-.135.047-.138m-.578.19a1.4 1.4 0 0 1-.063.169a24 24 0 0 1-1.261 2.54a9 9 0 0 1-.252.433c-.005 0-.114-.066-.244-.145c-.77-.472-1.452-1.052-1.9-1.617l-.064-.08l.332-.091a24 24 0 0 0 3.19-1.103c.142-.06.26-.109.262-.106m3.59 1.253q.002 0 .002.003c0 .08-.183.828-.336 1.37c-.128.453-.236.808-.435 1.437a9 9 0 0 1-.168.504a15 15 0 0 1-3-.841a8 8 0 0 1-.639-.283c-.006-.007.213-.11.486-.23c1.655-.721 3.369-1.543 3.955-1.896a.4.4 0 0 1 .135-.064m-8.287.283c.009.009-.454.671-1.1 1.576l-.587.823c-.097.139-.245.358-.329.488l-.153.236l-.162-.137a6.5 6.5 0 0 1-.677-.69c-.312-.389-.523-.798-.607-1.174c-.038-.174-.04-.262-.003-.273a176 176 0 0 1 1.934-.455l1.3-.305c.209-.05.382-.09.384-.089m.465.178l.117.131a6.8 6.8 0 0 0 1.706 1.394a1 1 0 0 1 .195.128a282 282 0 0 1-4.33 1.53l-.072-.048l-.067-.048l.105-.152c.34-.493.768-1.035 1.705-2.162zm2.9 2.073c.003-.003.165.054.362.128c.473.177.844.292 1.347.418c.617.155 1.51.31 2.038.354c.08.006.122.016.11.024c-.025.016-.56.194-.953.318a259 259 0 0 1-4.636 1.363c-.035.007-.157-.025-.157-.04c0-.009.087-.119.193-.246a22 22 0 0 0 1.476-1.984zm-.642.018c.005.005-.253.418-.706 1.132c-.192.301-.409.645-.483.762c-.075.118-.184.298-.242.4l-.107.185l-.054-.014c-.13-.035-1.049-.36-1.291-.456a9 9 0 0 1-.846-.389c-.289-.156-.655-.388-.627-.397l1.105-.302c1.592-.434 2.473-.683 3.05-.864c.109-.033.199-.059.2-.057zm4.523 1.061h.006c.015.038-.575 1.67-.79 2.188c-.049.116-.066.145-.092.143a56 56 0 0 1-1.433-.2c-.906-.138-2.423-.403-2.806-.49l-.089-.02l.543-.122c1.164-.262 1.723-.403 2.29-.577a16.5 16.5 0 0 0 2.138-.824a2 2 0 0 1 .233-.098'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.simple-icons--sqlite {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M21.678.521c-1.032-.92-2.28-.55-3.513.544a9 9 0 0 0-.547.535c-2.109 2.237-4.066 6.38-4.674 9.544c.237.48.422 1.093.544 1.561a13 13 0 0 1 .164.703s-.019-.071-.096-.296l-.05-.146l-.033-.08c-.138-.32-.518-.995-.686-1.289c-.143.423-.27.818-.376 1.176c.484.884.778 2.4.778 2.4s-.025-.099-.147-.442c-.107-.303-.644-1.244-.772-1.464c-.217.804-.304 1.346-.226 1.478c.152.256.296.698.422 1.186c.286 1.1.485 2.44.485 2.44l.017.224a22 22 0 0 0 .056 2.748c.095 1.146.273 2.13.5 2.657l.155-.084c-.334-1.038-.47-2.399-.41-3.967c.09-2.398.642-5.29 1.661-8.304c1.723-4.55 4.113-8.201 6.3-9.945c-1.993 1.8-4.692 7.63-5.5 9.788c-.904 2.416-1.545 4.684-1.931 6.857c.666-2.037 2.821-2.912 2.821-2.912s1.057-1.304 2.292-3.166c-.74.169-1.955.458-2.362.629c-.6.251-.762.337-.762.337s1.945-1.184 3.613-1.72C21.695 7.9 24.195 2.767 21.678.521m-18.573.543A1.84 1.84 0 0 0 1.27 2.9v16.608a1.84 1.84 0 0 0 1.835 1.834h9.418a23 23 0 0 1-.052-2.707c-.006-.062-.011-.141-.016-.2a27 27 0 0 0-.473-2.378c-.121-.47-.275-.898-.369-1.057c-.116-.197-.098-.31-.097-.432c0-.12.015-.245.037-.386a10 10 0 0 1 .234-1.045l.217-.028c-.017-.035-.014-.065-.031-.097l-.041-.381a33 33 0 0 1 .382-1.194l.2-.019c-.008-.016-.01-.038-.018-.053l-.043-.316c.63-3.28 2.587-7.443 4.8-9.791c.066-.069.133-.128.198-.194Z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.simple-icons--postman {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13.527.099C6.955-.744.942 3.9.099 10.473c-.843 6.572 3.8 12.584 10.373 13.428c6.573.843 12.587-3.801 13.428-10.374C24.744 6.955 20.101.943 13.527.099m2.471 7.485a.86.86 0 0 0-.593.25l-4.453 4.453l-.307-.307l-.643-.643c4.389-4.376 5.18-4.418 5.996-3.753m-4.863 4.861l4.44-4.44a.62.62 0 1 1 .847.903l-4.699 4.125zm.33.694l-1.1.238a.06.06 0 0 1-.067-.032a.06.06 0 0 1 .01-.073l.645-.645zm-2.803-.459l1.172-1.172l.879.878l-1.979.426a.074.074 0 0 1-.085-.039a.07.07 0 0 1 .013-.093m-3.646 6.058a.076.076 0 0 1-.069-.083a.1.1 0 0 1 .022-.046h.002l.946-.946l1.222 1.222zm2.425-1.256a.23.23 0 0 0-.117.256l.203.865a.125.125 0 0 1-.211.117h-.003l-.934-.934l-.294-.295l3.762-3.758l1.82-.393l.874.874c-1.255 1.102-2.971 2.201-5.1 3.268m5.279-3.428h-.002l-.839-.839l4.699-4.125a1 1 0 0 0 .119-.127c-.148 1.345-2.029 3.245-3.977 5.091m3.657-6.46l-.003-.002a1.822 1.822 0 0 1 2.459-2.684l-1.61 1.613a.12.12 0 0 0 0 .169l1.247 1.247a1.82 1.82 0 0 1-2.093-.343m2.578 0a1.7 1.7 0 0 1-.271.218h-.001l-1.207-1.207l1.533-1.533c.661.72.637 1.832-.054 2.522m-.1-1.544a.14.14 0 0 0-.053.157a.42.42 0 0 1-.053.45a.14.14 0 0 0 .023.197a.14.14 0 0 0 .084.03a.14.14 0 0 0 .106-.05a.69.69 0 0 0 .087-.751a.14.14 0 0 0-.194-.033'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ri--github-fill {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.001 2c-5.525 0-10 4.475-10 10a9.99 9.99 0 0 0 6.837 9.488c.5.087.688-.213.688-.476c0-.237-.013-1.024-.013-1.862c-2.512.463-3.162-.612-3.362-1.175c-.113-.288-.6-1.175-1.025-1.413c-.35-.187-.85-.65-.013-.662c.788-.013 1.35.725 1.538 1.025c.9 1.512 2.337 1.087 2.912.825c.088-.65.35-1.087.638-1.337c-2.225-.25-4.55-1.113-4.55-4.938c0-1.088.387-1.987 1.025-2.687c-.1-.25-.45-1.275.1-2.65c0 0 .837-.263 2.75 1.024a9.3 9.3 0 0 1 2.5-.337c.85 0 1.7.112 2.5.337c1.913-1.3 2.75-1.024 2.75-1.024c.55 1.375.2 2.4.1 2.65c.637.7 1.025 1.587 1.025 2.687c0 3.838-2.337 4.688-4.562 4.938c.362.312.675.912.675 1.85c0 1.337-.013 2.412-.013 2.75c0 .262.188.574.688.474A10.02 10.02 0 0 0 22 12c0-5.525-4.475-10-10-10'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.simple-icons--git {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M23.546 10.93L13.067.452a1.55 1.55 0 0 0-2.188 0L8.708 2.627l2.76 2.76a1.838 1.838 0 0 1 2.327 2.341l2.658 2.66a1.838 1.838 0 0 1 1.9 3.039a1.837 1.837 0 0 1-2.6 0a1.85 1.85 0 0 1-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348a1.85 1.85 0 0 1 0 2.6a1.844 1.844 0 0 1-2.609 0a1.834 1.834 0 0 1 0-2.598c.182-.18.387-.316.605-.406V8.835a1.834 1.834 0 0 1-.996-2.41L7.636 3.7L.45 10.881c-.6.605-.6 1.584 0 2.189l10.48 10.477a1.545 1.545 0 0 0 2.186 0l10.43-10.43a1.544 1.544 0 0 0 0-2.187'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.simple-icons--adobephotoshop {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.85 8.42c-.37-.15-.77-.21-1.18-.2c-.26 0-.49 0-.68.01c-.2-.01-.34 0-.41.01v3.36c.14.01.27.02.39.02h.53c.39 0 .78-.06 1.15-.18c.32-.09.6-.28.82-.53c.21-.25.31-.59.31-1.03c.01-.31-.07-.62-.23-.89a1.45 1.45 0 0 0-.7-.57M19.75.3H4.25C1.9.3 0 2.2 0 4.55v14.899c0 2.35 1.9 4.25 4.25 4.25h15.5c2.35 0 4.25-1.9 4.25-4.25V4.55C24 2.2 22.1.3 19.75.3m-7.391 11.65c-.399.56-.959.98-1.609 1.22c-.68.25-1.43.34-2.25.34c-.24 0-.4 0-.5-.01s-.24-.01-.43-.01v3.209c.01.07-.04.131-.11.141H5.52c-.08 0-.12-.041-.12-.131V6.42c0-.07.03-.11.1-.11c.17 0 .33 0 .56-.01c.24-.01.49-.01.76-.02s.56-.01.87-.02s.61-.01.91-.01c.82 0 1.5.1 2.06.31c.5.17.96.45 1.34.82c.32.32.57.71.73 1.14c.149.42.229.85.229 1.3q.002 1.29-.6 2.13m7.091 3.89c-.28.4-.671.709-1.12.891c-.49.209-1.09.318-1.811.318c-.459 0-.91-.039-1.359-.129c-.35-.061-.7-.17-1.02-.32c-.07-.039-.121-.109-.111-.189v-1.74c0-.029.011-.07.041-.09c.029-.02.06-.01.09.01c.39.23.8.391 1.24.49c.379.1.779.15 1.18.15c.38 0 .65-.051.83-.141c.16-.07.27-.24.27-.42c0-.141-.08-.27-.24-.4c-.16-.129-.489-.279-.979-.471c-.51-.18-.979-.42-1.42-.719a2.6 2.6 0 0 1-.761-.85a2.16 2.16 0 0 1-.229-1.021c0-.43.12-.84.341-1.21c.25-.4.619-.72 1.049-.92c.469-.239 1.059-.349 1.769-.349c.41 0 .83.03 1.24.09c.3.04.59.12.86.23c.039.01.08.05.1.09c.01.04.02.08.02.12v1.63c0 .04-.02.08-.05.1c-.09.02-.14.02-.18 0c-.3-.16-.62-.27-.96-.34c-.37-.08-.74-.13-1.12-.13c-.2-.01-.41.02-.601.07c-.129.03-.24.1-.31.2c-.05.08-.08.18-.08.27s.04.18.101.26c.09.11.209.2.34.27c.229.12.47.23.709.33c.541.18 1.061.43 1.541.73c.33.209.6.49.789.83c.16.318.24.67.23 1.029c.011.471-.129.94-.389 1.331'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.simple-icons--adobelightroom {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19.75.3H4.25C1.9.3 0 2.2 0 4.55v14.9c0 2.35 1.9 4.25 4.25 4.25h15.5c2.35 0 4.25-1.9 4.25-4.25V4.55C24 2.2 22.1.3 19.75.3m-6.99 16.389c0 .051-.029.09-.06.121a.17.17 0 0 1-.101.029H6.26c-.11 0-.16-.061-.16-.18V6.44c-.01-.07.04-.13.11-.14h2c.05-.01.11.03.11.08v8.43h4.62c.101 0 .131.049.11.14zm6.25-7.859v1.95c0 .08-.05.11-.16.11c-.649-.04-1.3.08-1.89.34c-.2.09-.39.21-.54.37v5.1c0 .1-.04.14-.13.14h-1.95c-.08.01-.15-.04-.16-.119V11.14c0-.24 0-.49-.01-.75s-.01-.52-.02-.78q-.015-.33-.061-.66c-.01-.05.02-.1.07-.11c.01-.01.02-.01.04 0h1.75c.1 0 .18.07.21.16c.04.07.07.15.08.23c.02.1.039.21.05.31c.01.11.021.23.021.36c.299-.35.66-.64 1.069-.86c.46-.25.97-.37 1.49-.36c.069-.01.13.04.14.11z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ic--baseline-sd {
  display: inline-block;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-6 6h4c.55 0 1 .45 1 1v4c0 .55-.45 1-1 1h-4zm-3.5 4.5v-1H7c-.55 0-1-.45-1-1V10c0-.55.45-1 1-1h3c.55 0 1 .45 1 1v1H9.5v-.5h-2v1H10c.55 0 1 .45 1 1V14c0 .55-.45 1-1 1H7c-.55 0-1-.45-1-1v-1h1.5v.5zm5 0h2v-3h-2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}